body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    font-family: Roboto;
}

.password-a {
    color: blue;
    text-decoration:underline;
}

.auth-main {
    display: block;
    margin: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
}

.auth-main-form {
    display: block;
    margin: 0 auto;
    width: 576px;
    background-color: #FFFFFF;
}

.padds {
    height: 20px;
}


.auth-main-form-control-input {
    width: 411px;
    height: 49px;
    display: block;
    margin: 0 auto;

    background: rgba(63, 165, 239, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    text-indent: 15px;


}

.auth-main-form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    width: 211px;
    height: 44px;

    background: #FD8653;
    border-radius: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;

    color: #FFFFFF;

}

.auth-main-form-control {
    padding: 10px;
    display: block;
    align-items: center;
}

.auth-main-header {
    margin: 0 auto;
    margin-top: 20px;
    width: 576px;
    height: 84px;

    background-color: #3FA5EF;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.auth-main h1{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.auth-main-form-control-h2 {
    margin: 0 auto;
    width: 411px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    color: black;
    text-underline: none;

}

.label-link-left {
    display: inline;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.label-link-right {
    display: inline;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

}

.auth-main-form-control-password-reg {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 411px;
    display: flex;
    justify-content: space-between;
    color: blue;
    text-decoration: underline;

}

.password-reset-main {
    display: block;
    margin: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.password-reset-header {
    margin: 0 auto;
    margin-top: 20px;
    width: 576px;
    height: 84px;

    background-color: #3FA5EF;
    display: flex;
    align-items: center;
}

.password-reset-header-h1 {
    width: 100%;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.password-reset-form {
    display: block;
    margin: 0 auto;
    width: 576px;
    background-color: #FFFFFF;
}

.padds {
    height: 20px;
}

.password-reset-form-control {
    padding: 10px;
    display: block;
    align-items: center;
}

.password-reset-form-control-h2 {
    margin: 0 auto;
    width: 411px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;


    display: flex;
    align-items: center;
    color: black;
}

.password-reset-form-control-h2-validate {
    margin: 0 auto;
    width: 490px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;


    display: flex;
    align-items: center;
    color: black;
}

.password-reset-form-control-input {
    width: 411px;
    height: 49px;
    display: block;
    margin: 0 auto;
    /*margin-bottom: 90px;*/

    background: rgba(63, 165, 239, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    text-indent: 15px;
}

.password-reset-form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    width: 211px;
    height: 44px;

    background: #FD8653;
    border-radius: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;

    color: #FFFFFF;
}

.password-reset-change-main {
    display: block;
    margin: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.password-reset-change-header {
    margin: 0 auto;
    margin-top: 20px;
    width: 576px;
    height: 84px;

    background-color: #3FA5EF;
    display: flex;
    align-items: center;
}

.password-reset-change-header-h1 {
    width: 100%;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.password-reset-change-form {
    display: block;
    margin: 0 auto;
    width: 576px;
    background-color: #FFFFFF;
}

.padds {
    height: 20px;
}

.password-reset-change-form-control {
    padding: 10px;
    display: block;
    align-items: center;
}

.password-reset-change-form-control-h2 {
    margin: 0 auto;
    width: 411px;
    color: black;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
}

.password-reset-change-form-control-input {
    width: 411px;
    height: 49px;
    display: block;
    margin: 0 auto;

    background: rgba(63, 165, 239, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    text-indent: 15px;
}

.password-reset-change-form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;

    width: 211px;
    height: 44px;

    background: #FD8653;
    border-radius: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;

    color: #FFFFFF;
}

.registration-main {
    display: block;
    margin: auto;
    margin-top: 40px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.registration-header {
    margin: 0 auto;
    margin-top: 20px;
    width: 576px;
    height: 84px;

    background-color: #3FA5EF;
    display: flex;
    align-items: center;
}

.registration-header-h1 {
    width: 100%;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

.registration-form {
    display: block;
    margin: 0 auto;
    width: 576px;
    background-color: #FFFFFF;
}

.padds {
    height: 20px;
}

.registration-form-control {
    padding: 10px;
    display: block;
    align-items: center;
}

.registration-form-control-h2 {
    margin: 0 auto;
    width: 411px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    color: black;
}

.registration-form-control-input {
    width: 411px;
    height: 49px;
    display: block;
    margin: 0 auto;
    color: black;

    background: rgba(63, 165, 239, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    text-indent: 15px;
}

.registration-form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    width: 211px;
    height: 44px;

    background: #FD8653;
    border-radius: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;

    color: #FFFFFF;
}

.error {
    color: red;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .registration-form {
        display: block;
        margin: 0 auto;
        width: 330px;
        background-color: #FFFFFF;
    }

    .auth-main-form {
        display: block;
        margin: 0 auto;
        width: 330px;
        background-color: #FFFFFF;
    }

    .auth-main-header {
        margin: 0 auto;
        margin-top: 20px;
        width: 330px;
        height: 84px;
        background-color: #3FA5EF;
        display: flex;
        align-items: center;
        padding-left: 0;
    }

    .auth-main-form-control-h2 {
        margin: 0 auto;
        width: 300px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: black;
        text-underline: none;
    }

    .auth-main-form-control-input {
        width: 300px;
        height: 49px;
        display: block;
        margin: 0 auto;
        background: rgba(63, 165, 239, 0.26);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-indent: 15px;
    }

    .auth-main-form-control-password-reg {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        color: blue;
        text-decoration: underline;
    }

    .registration-header {
        margin: 0 auto;
        margin-top: 20px;
        width: 330px;
        height: 84px;
        background-color: #3FA5EF;
        display: flex;
        align-items: center;
    }

    .registration-form-control-h2 {
        margin: 0 auto;
        width: 300px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: black;
    }

    .registration-form-control-input {
        width: 300px;
        height: 49px;
        display: block;
        margin: 0 auto;
        color: black;
        background: rgba(63, 165, 239, 0.26);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-indent: 15px;
    }

    .password-reset-header {
        margin: 0 auto;
        margin-top: 20px;
        width: 330px;
        height: 84px;
        background-color: #3FA5EF;
        display: flex;
        align-items: center;
    }

    .password-reset-form {
        display: block;
        margin: 0 auto;
        width: 330px;
        background-color: #FFFFFF;
    }

    .password-reset-form-control-h2 {
        margin: 0 auto;
        width: 300px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: black;
    }

    .password-reset-form-control-h2-validate {
        margin: 0 auto;
        width: 300px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: black;
    }

    .password-reset-form-control-input {
        width: 300px;
        height: 49px;
        display: block;
        margin: 0 auto;
        /*margin-bottom: 90px;*/
        background: rgba(63, 165, 239, 0.26);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-indent: 15px;
    }

    .password-reset-change-header {
        margin: 0 auto;
        margin-top: 20px;
        width: 330px;
        height: 84px;
        background-color: #3FA5EF;
        display: flex;
        align-items: center;
    }

    .password-reset-change-form {
        display: block;
        margin: 0 auto;
        width: 330px;
        background-color: #FFFFFF;
    }

    .password-reset-change-form-control-h2 {
        margin: 0 auto;
        width: 300px;
        color: black;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
    }

    .password-reset-change-form-control-input {
        width: 300px;
        height: 49px;
        display: block;
        margin: 0 auto;
        background: rgba(63, 165, 239, 0.26);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-indent: 15px;
    }
}
.reg-main-back {
    background-color: #EBEAEA;
    height: 1000vh;
    width: 1000vw;
}

