* {
    padding: 0;
    margin: 0;


}

.menu-bar-main {
    text-decoration: none;
}


.moderator-menu-bar .sidebar {
    background-color: #3FA5EF;
    height: 100%;

}

.moderator-menu-bar .li-ManagerMain {
    text-decoration: none;
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
}



.moderator-menu-bar .container {
    height: 100vh;
    background-color: #FFFFFF;
    position: relative
}

.moderator-menu-bar .container .sidebar {
    position: fixed;
    height: 100vh;
    width: 330px;
    z-index: 10;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1)
}

.moderator-menu-bar .sidebar li:nth-child(1) {
    padding: 30px 0px
}
.moderator-menu-bar .sidebar li:hover:nth-child(2) {
    padding: 30px 0px;
    background-color: transparent;
    color: #000
}



.moderator-menu-bar .sidebar li {
    padding: 12px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;

    text-align: left;
    margin-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items:start;

    color: #FFFFFF;

}

.moderator-menu-bar .sidebar li span:nth-child(1) {
    font-size: 20px
}

.moderator-menu-bar .sidebar li span:nth-child(2) {
    font-size: 20px
}

.moderator-menu-bar .sidebar li:hover {
    background-color: #87CDFF;
    padding: 12px
}

.moderator-menu-bar .container .content {
    padding-left: 75px
}

.moderator-menu-bar .content {
    padding: 10px;
    padding-right: 75px;
    margin-left: 330px;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;

    text-decoration: none;
}

.moderator-menu-bar .h1-Manager{
    text-align: left;
    margin-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    padding-left: 12px;
    align-items:start;
    padding-top: 30px;
    margin-bottom: 20px;

    color: #FFFFFF;
}
.moderator-menu-bar .span{

    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.moderator-menu-bar .icons {
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.moderator-menu-bar .a-ManagerMain {
    text-decoration: none;
    color: #FFFFFF;
}



.moderator-menu-bar .content-page {
    margin-top: 80px;
}

.card {
    /*margin: 2rem 2rem 2rem 0;*/
    padding: 1.5rem;
    width: 600px;
    height: 200px;
    /*box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);*/
    transition: transform .3s ease;
    /*cursor: pointer;*/
    background: rgba(63, 165, 239, 0.26);
    box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.25);
}

/*.card:hover {*/
/*    transform: scale(1.1);*/
/*}*/

.card__title {
    font-weight: 800;
    font-size: 1.5rem;
}

.card .inside-title {
    display: inline;

    font-family: Roboto;
    font-style: normal;
    /*font-weight: bold;*/
    font-size: 24px;
    line-height: 28px;


    color: #000000;
}

.card-header {
    margin: 2rem 2rem 2rem 0;
    padding: 0.8rem;
    width: 250px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    background: rgba(63, 165, 239, 0.26);
}


.card__title-header {
    font-weight: 800;
    font-size: 1.5rem;
}

.card-header .inside-title-header {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.card .inside-title-ans {
    display: inline;
    padding-right: 70px;

    font-family: Roboto;
    font-style: normal;
    /*font-weight: bold;*/
    font-size: 24px;
    line-height: 28px;


    color: #000000;
}

.yes-no-bttn {
    display: inline;
    background: rgba(63, 165, 239, 0.26);
    border: none;
    cursor: pointer;
}

.bttns-moderator {
    display: inline;
    padding: 0;
    margin: 0;

}

.moderator-TC-card {
    margin-bottom: 15px;
}

.card-header {
     margin-top: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.extra-bottom {
    height: 30px;
}

.inside-title-alt {
    display: inline;
    padding-left: 70px;

    font-family: Roboto;
    font-style: normal;
    /*font-weight: bold;*/
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.moderator-TC-card-values {
    display: inline;
    width: 150px;
}

.moderator-TC-card-headers {
    display: inline;
    width: 150px;
}

.card-moderator-1{
    overflow: hidden;
}

.card-moderator-2{
    width: 1000%;
}

.card-moderator-3 {
    float: left;
    height: 100px;
}

.card-moderator-4 {
    float: left;
    margin-left: 70px;
    height: 300px;
}

.card-moderator-1 p {
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    /*font-weight: bold;*/
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
